#host = ""
#port = 1178
#send_encoding = "utf-8"
#recv_encoding = "utf-8"
#max_completions = 10

#[logging]
#path = ""
#level = "info"
#json = false

#[[dictionaries]]
#path = "/path/to/dictionary"
#encoding = "euc-jp"
